.homePage {
    display: flex;
    flex-direction: row;
    height: 85vh;
    background-color: lightblue;
}

.movieSmallImage{
    width: 10em; 
}

.movieCard{
    width: 12em;
    margin-top: 0.5em;
}

.movieCard:hover{
    transition: 0.7s;
    box-shadow: rgba(42, 48, 226, 0.663) 0px 1px 2px, rgb(51, 51, 51) 0px 5px 5px 5px;
}

.leftSide{
    margin-top: 1em;
    margin-bottom: 1em;
    width: 65vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lightblue; 
    overflow-y: scroll;  
    cursor:pointer;
}

.rightSide{
    width: 35vw;
    background-color: lightslategrey;
    overflow-y: scroll; 
    padding-bottom: 1em; 
}